<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/markdown.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="/javascripts/jquery.history.js"></script>
		<script src="/javascripts/invisible.js"></script>
  </head>
  <body>
    <header>
      <div id="titleBox"><a href="/"><img id="logoImage" src="/images/linedpaper32.png"/>One Paper</a></div>
			<div id="signinBox">
			<% if (everyauth.loggedIn) { %>
				<%= everyauth.twitter.user.screen_name %>
				<a href="/logout">Logout</a>
			<% } else { %>
				<a href="/auth/twitter">Sign In</a><br/>
				via <img src="/images/logo_twitter.png" alt="Twitter"/>
			<% } %>
			</div>
    </header>
		<div id="content" class="markdown"></div>
    <footer>
      <p>One Paper v0.0.2 &copy;2011 <a href="https://twitter.com/#!/hakobera">hakobera</a></p>
    </footer>
  </body>
</html>