.markdown {
    padding: .7em;
    background-color: #f8f8f8;
    border: #e9e9e9;
}

.markdown h1:first-child {
    margin-top: 0.25em!important;
    border-top: none!important;
}

.markdown h1 {
    margin-top: 1.5em;
    padding-top: .5em;
    border-top: 4px solid #AAA;
    font-size: 150%;
}

.markdown h2 {
    margin-top: 1.5em;
    padding-top: .5em;
    border-top:  4px solid #e0e0e0;
    font-size: 150%;
}

.markdown h3 {
    margin-top: 1em;
    font-size: 130%;
}

.markdown h4 {
    margin-top: 1em;
    font-size: 110%;
}

.markdown p {
    margin: 1em 0;
}

.markdown blockquote {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #eee;
    border: 1px solid #ddd;
}

.markdown > ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.markdown ul {
    margin-left: 2em;
}

.markdown ul li {
    line-height: 1.5em;
}
