@import url(http://fonts.googleapis.com/css?family=Bowlby+One&v2);

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    background-color: #fff;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    position: relative;
    margin-bottom: 10px;
}

#titleBox {
    font: 32px "Bowlby One", Helvetica, Arial, sans-serif;
}

#titleBox img {
    margin-right: 10px;
}

#titleBox a {
    color: #000;
    text-decoration: none;
}

#signinBox {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
}

#signinBox a {
    display: inline-block;
    width: 90px;
    padding: 5px 0;
    color: #fff;
    background-color: #000;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.41, rgb(0,0,0)),
        color-stop(0.71, rgb(105,105,105))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(0,0,0) 41%,
        rgb(165,165,165) 71%
    );
    border-radius: 7px;
    text-align: center;
}

footer {
    margin-top: 10px;
    font-size: 10px;
    text-align: right;
}

/*
 * Editor
 */
#editor {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
}

#editor div#text {
    width: 50%;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
}

#editor div#text textarea {
    width: 100%;
    min-height: 500px;
}

#editor div#content {
    width: 50%;
}